<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Blog Post - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>

<body>

  <!-- Navigation -->
<!--   <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Start Bootstrap</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-12">

        <!-- Title -->
        <h4 class="mt-4">Đang cho con bú, thì đây chính là những thực phẩm các mẹ rất nên ăn và những thực phẩm tránh xa càng tốt</h4>
        <hr>

        <!-- Date/Time -->
        <p>Posted on January 1, 2019 at 12:00 PM</p>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="https://afamilycdn.com/2019/1/17/cung-cap-sua-cho-con-khi-me-thieu-sua-bu-nho-1547695999496231265712-crop-1547696007439137675766.jpg" alt="">

        <hr>

        <!-- Post Content -->
        <p>Bà mẹ nào cho con bú cũng cần phải bổ sung nhiều chất dinh dưỡng nhưng loại thực phẩm nào nên tránh, loại nào vẫn có thể ăn được mà không ảnh hưởng đến bé yêu là một điều vô cùng quan trọng mà không phải mẹ nào cũng biết.</p>

        <p><b>1. Cá</b></p>
        

        <p>Đây là một nguồn protein rất tốt và một vài loại cá như cá hồi và cá ngừ còn có thể cung cấp omega-3 mà cơ thể cần nhưng trong cá cũng có thể chứa thủy ngân và các chất ô nhiễm khác. Theo khuyến cáo của FDA (Cơ quan Quản lý Thực phẩm và Thuốc Hoa Kỳ), phụ nữ nuôi con bằng sữa mẹ vẫn nên ăn ít nhất 2 khẩu phần các loại cá và hải sản có vỏ ít thủy ngân trong mỗi tuần, nhưng phải được nấu chín. Hãy chọn những loại có có mức thủy ngân thấp hơn như cá hồi, cá rô phi và cá hồi biển. Các loại cá bạn nên tránh khi đang <a class="seo-suggest-link" href="http://afamily.vn/den-tuoi-nay-ma-khong-cai-bu-dem-cho-tre-dung-trach-con-cham-lon-tri-tue-kem-phat-trien-2018111500250934.chn" target="_blank" title="Đến tuổi này mà không cai bú đêm cho trẻ, đừng trách con chậm lớn, trí tuệ kém phát triển">cho con bú</a> là cá mập, cá kiếm, cá thu hoàng hậu và cá kình.</p>

     <!--    <blockquote class="blockquote">
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer class="blockquote-footer">Someone famous in
            <cite title="Source Title">Source Title</cite>
          </footer>
        </blockquote> -->

        <hr>

        <!-- Comments Form -->
        <div class="card my-4">
          <h6 class="card-header">Leave a Comment:</h6>
          <div class="card-body">
            <form>
              <div class="form-group">
                <textarea class="form-control" rows="3" id="input-comment"></textarea>
              </div>
              <button type="button" class="btn btn-primary" onclick="Comment.sendComment()">Submit</button>
            </form>
          </div>
        </div>

        <!-- Single Comment -->
        <!--<div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h6 class="mt-0">Tuấn Vũ</h6>
            Tuy chưa có con nhưng tôi sẽ chia sẻ cho vợ tương lai của tôi những điều này
          </div>
        </div>-->

        <div class="comment-list">
            <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h6 class="mt-0">Tuấn Vũ</h6>
                    Tuy chưa có con nhưng tôi sẽ chia sẻ cho vợ tương lai của tôi những điều này
                </div>
            </div>
        </div>

        <!-- Comment with nested comments -->
        <!--<div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h6 class="mt-0">Lan Hương</h6>
            Bải viết rất hay và bổ ích

            <div class="media mt-4">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
              <div class="media-body">
                <h6 class="mt-0">Mai mít</h6>
                Em sẽ chú ý chăm sóc dinh dưỡng cho con của mình
              </div>
            </div>
          </div>
        </div>-->

      </div>


  <!-- /.container -->

  <!-- Bootstrap core JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script>
      var Comment = new function () {
        var self = this;

        var keyData = '_asdfasdf_';
        var commentContainer = document.querySelector('.comment-list');

        self.sendComment = function () {
          var content = document.querySelector('#input-comment').value;
          if (content == '' || content == null || content == undefined) return;
          var data = {
            content: content
          };

          addCommentList(data);

          return insertComment(data);
        };

        self.load = function () {
          var items = getCommentList();
          if (!items.length) return;
          for (let index = 0; index < items.length; index++) {
            const item = items[index];
            insertComment(item);
          }
          return true;
        };

        var insertComment = function (data) {
          if (!data.content) return false;
          var newComment = _DOMParser('<div class="media mb-4">' +
            '<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50">' +
            '<div class="media-body">' +
            '<h6 class="mt-0">Tuấn Vũ</h6>' +
            data.content +
            '</div>' +
            '</div>');
          commentContainer.insertBefore(newComment, commentContainer.firstChild);
          return true;
        };

        function _DOMParser(htmlStr) {
          var fragment = document.createDocumentFragment();
          var divTemp = document.createElement('div');
          divTemp.innerHTML = htmlStr;
          while (divTemp.firstChild) fragment.appendChild(divTemp.firstChild);
          return fragment;
        }

        function getCommentList() {
          if (!localStorage[keyData]) localStorage.setItem(keyData, JSON.stringify([]));
          return JSON.parse(localStorage.getItem(keyData));
        }

        function addCommentList(data) {
          var all = getCommentList();
          all.push(data);
          localStorage.setItem(keyData, JSON.stringify(all));
          return true;
        }

      }();
      Comment.load();
    </script>
</body>

</html>
