<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Blog Post - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>

<body>

  <!-- Navigation -->
<!--   <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Start Bootstrap</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-12">

        <!-- Title -->
        <h4 class="mt-4">Khoa học đã chứng minh đây chính là chìa khóa giúp trẻ học tập tốt</h4>
        <hr>

        <!-- Date/Time -->
        <p>Posted on January 1, 2019 at 12:00 PM</p>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="http://afamilycdn.com/thumb_w/660/2017/exercise-how-to-set-safety-limits-for-children-1496821709738.jpg" alt="">

        <hr>

        <!-- Post Content -->
        <p>Không phải cứ chất đống bài tập và thời gian học hành nhiều là đạt được kết quả mong muốn. Liệu có cách nào đơn giản hơn, dễ dàng hơn để trẻ thành công trên con đường học tập?</p>

        <p><b>Càng vận động nhiều, càng học giỏi hơn</b></p>
        

        <p>Một nghiên cứu khoa học đã chỉ ra rằng, luyện tập thể dục thể thao có tác dụng vô cùng tích cực đối với năng lực học tập tại trường của trẻ, nhất là bé trai.

          Nghiên cứu do chuyên gia 3 trường Đại học Eastern (Phần Lan), Đại học Jyväskylä (Phần Lan) và Đại học Cambridge (Anh) hợp tác cho thấy, học sinh nam càng năng vận động thể chất bao nhiêu, càng đạt kết quả tốt bấy nhiêu trong các bài kiểm tra học vấn, bao gồm cả môn đọc và môn số học.
          
          Lấy ví dụ ngay chính nước Phần Lan. Mặc dù có hướng tiếp cận có vẻ cổ lỗ sĩ với giáo dục, hệ thống trường học Phần Lan lại được xếp hạng tốt nhất thế giới với những học sinh có trình độ học vấn cực kỳ đáng nể. Ngành giáo dục Phần Lan luôn nhấn mạnh tầm quan trọng của việc vui chơi thay vì ngồi lì một chỗ học, trong đó có cả thời gian nghỉ giải lao.</p>

     <!--    <blockquote class="blockquote">
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer class="blockquote-footer">Someone famous in
            <cite title="Source Title">Source Title</cite>
          </footer>
        </blockquote> -->

        <hr>

        <!-- Comments Form -->
        <div class="card my-4">
          <h6 class="card-header">Leave a Comment:</h6>
          <div class="card-body">
            <form>
              <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>

        <!-- Single Comment -->
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h6 class="mt-0">Tuấn Vũ</h6>
            Tuy chưa có con nhưng tôi sẽ chia sẻ cho vợ tương lai của tôi những điều này
          </div>
        </div>

        <!-- Comment with nested comments -->
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h6 class="mt-0">Lan Hương</h6>
            Bải viết rất hay và bổ ích

            <div class="media mt-4">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
              <div class="media-body">
                <h6 class="mt-0">Mai mít</h6>
                Em sẽ chú ý chăm sóc dinh dưỡng cho con của mình
              </div>
            </div>
          </div>
        </div>

      </div>


  <!-- /.container -->

  <!-- Bootstrap core JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</body>

</html>
